<h1 class="mt-3 text-center" *ngIf="edicao">Edição de Computadores</h1>
<h1 class="mt-3 text-center" *ngIf="!edicao">Cadastro de Computadores</h1>

<form [formGroup]="computadorForm" (ngSubmit)="onSubmit()" class="col-8 offset-2">
  <div class="mb-3">
    <label for="descricao">Descrição: </label>
    <input class="form-control" id="descricao" type="text" formControlName="descricao" />
  </div>
  <div class="mb-3">
    <label for="marca">Marca: </label>
    <input class="form-control" id="marca" type="text" formControlName="marca" />
  </div>
  <div class="mb-3">
    <label for="valor">Valor: </label>
    <input class="form-control" id="valor" type="text" formControlName="valor" />
  </div>
  <div class="mb-3">
    <label for="garantia">Garantia: </label>
    <input class="form-control" id="garantia" type="number" formControlName="garantia" />
  </div>
  <div class="mt-5 text-center">
    <button type="submit" [disabled]="!computadorForm.valid" class="btn btn-success">
      {{ edicao ? 'Salvar' : 'Cadastrar' }}
    </button>
    <button type="reset" class="btn btn-secondary ms-1">Cancelar</button>
  </div>
</form>