<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Lista de computadores </ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let computador of computadores">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>{{ computador.descricao }}</ion-label>
          <ion-icon
            name="create"
            slot="end"
            [routerLink]="['../edicao', computador.id]"
          ></ion-icon>
          <ion-icon name="trash" slot="end" (click)="remove(computador)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button [routerLink]="['../cadastro']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>